<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Category</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
<h2>Add a category</h2>
<div class="col-md-4">
<form th:object="${category}" th:action="@{savecategory}" action="#" method="post">
	<label for="name">Category Name</label>
		<input type="text" id="CategoryName" th:field="*{name}" class="form-control"/>
		<div style="clear: both; display: block; height: 10px;"></div>
		<input type="submit" class="btn btn-primary" value="Save"></input>
</form>
</div>
</div>
</body>
</html>